.icon{
    width: 100px;
     height: 100px;
    }
  
    .navigation-list li {
      display: inline-block;
      margin-left: 15px;
    }
  
  .logo{
      width:35px;
       height: 35px;
      }
   
    .container {
        display: grid;
        grid-template-rows: 15% 65% 20%;
        grid-gap: 5px;
        height: 100%;
        width: 100%;
      }
     
    header ul {
        float: right;
      }
      
    header ul li {
        display: inline;
        padding: 10px;
      
      }
      
  body {
    background-color: #bec4e5;
    font-size: 16px;
    line-height: 1.6;
    font-family:'Noto Sans Mono', monospace;
  }


